 <!-- header start -->
<header class="header-height">
    <nav class="navbar navbar-toggleable-md black navbar-expand-lg scrolling-navbar double-nav">
        <!-- SidemenuNav -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse white-text menu-button-size"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Logo-->
        <div class="breadcrumb-dn ml-4">
            <img src="./assets/images/neoLogo.png"/>
        </div>
        <!-- Category icons-->
        <ul class="nav navbar-nav nav-flex-icons margin-left-38">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"><img src="./assets/images/americanfootball2.png" /> <span class="clearfix d-none d-sm-table text-white categorytext">Lifestyle</span></a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link waves-effect waves-light"><img src="./assets/images/travel.png" /> <span class="clearfix d-none d-sm-table text-white categorytext">Travel</span></a>
            </li>
        </ul>
    </nav>
</header>
 <!-- header end -->
<div class="container-fluid">
    <div class="row">
         <!-- Person details start -->
        <div class="col-sm-3 person-detail">
            <div class="row ">
                    <img src="./assets/images/customerMask.png">
                    <div class="col-1 col-sm-11 title-font margin-personal-detail">William Smith</div>
            </div>
            <div class="row margin-bottom-20 ">
                    <div class="col-3 text-center detail-title-font">Gender</div>
                    <div class="col-3 detail-title-font">Age</div>
                    <div class="col-6 detail-title-font">Base</div>
                    <div class="w-100"></div>
                    <div class="col-3 text-center detail-data-font">Male</div>
                    <div class="col-3 detail-data-font">36</div>
                    <div class="col-6 detail-data-font">Dubai</div>
                </div>
                <div class="row skywards-details">
                        <div class=" col-6 skywards-title-font">Skywards</div>
                        <div class="col-6 skywards-title-font">Skywards Miles</div> 
                        <div class="w-100"></div>
                        <div class="  col-6 skywards-data-font">Platinum</div>
                        <div class="col-6 skywards-data-font">128116</div>
                    </div>
                    <div class="row cltv-details">
                            <div class=" col-4 cltv-box">
                                <div class="cltv-value">6.75</div>
                                <div class="cltv-title">CLTV</div>
                            </div>
                            <div class=" col-8 class-details">
                                    <div class="row economyclass">J : 8%</div>
                                    <div class="row businessclass">
                                        <div class="col-6">F : 0%</div>
                                        <div class="col-6">Y : 92%</div> 
                                    </div>
                            </div>
                            
                        </div>
                        <div class="row trip-summary">
                                <div class="col-6">
                                    <div class="trip-data-rowimage">
                                        <img src="./assets/images/travelerIcon.png">
                                    </div>
                                    <div class="trip-data-rowtext">
                                            <div class="w-100 size-main-trip">12</div>
                                            <div class="w-100 size-subtitle-trip">Trips per year</div>
                                    </div>
                                    <div class="trip-data-rowtext">
                                            <div class="w-100 size-main-trip">1</div>
                                            <div class="w-100 size-subtitle-trip">Avg Trips <br>per month</div>
                                    </div>
                                </div>
                                <div class="col-6 data-column">
                                        <div class="trip-data-row">
                                            <div class="w-100 size-main-trip">12</div>
                                            <div class="w-100 size-subtitle-trip">Total Trips</div>
                                            </div>
                                            <div class="trip-data-row">
                                                    <div class="w-100 size-main-trip">1</div>
                                                    <div class="w-100 size-subtitle-trip">Destination</div>
                                            </div>
                                            <div class="trip-data-row margin-top-20">
                                                    <div class="w-100 size-main-trip">1</div>
                                                    <div class="w-100 size-subtitle-trip">Family Trips</div>
                                            </div>
                                </div>
                                
                                
                            </div>

               
        </div>
 <!-- Person details end -->
  <!-- Main Asset Container starts -->
 <div class="col-sm-9 ">
    <div class="row asset-background">
        <app-assetcontainer class="w-100"></app-assetcontainer>
    </div>
 </div>
    </div>
  
</div>